Crie um algoritmo em Python que mostre a mensagem "Alo mundo" na tela.

In [2]:
print("Alô, mundão sem porteira!")

Alô, mundão sem porteira!

Crie um algoritmo em Python que peça dois números e imprima a soma.

In [3]:
a = float(input("Entre com um número: "))
b = float(input("Entre com outro número: "))
soma = a + b

print(f"A soma dos dois números é: {soma}")

Entre com um número: 5
Entre com outro número: 7
A soma dos dois números é: 12.0

Crie um algoritmo em Python que peça um número e então mostre a mensagem O número informado foi [número].

In [4]:
numero = float(input("Entre com um número: "))
print(f"O número informado foi: {numero}")

Entre com um número: 5
O número informado foi: 5.0

Crie um algoritmo em Python que converta metros para centímetros.

In [5]:
metro = float(input("Entre com a metragem (em metros) para conversão: "))
centimetro = metro * 100
print(f"{metro} corresponde a {centimetro} centímetros")

Entre com a metragem (em metros) para conversão: 1.2
1.2 corresponde a 120.0 centímetros

Crie um algoritmo em Python que peça as 4 notas bimestrais e mostre a média.

In [6]:
a = float(input("Entre com a primeira nota bimestral: "))
b = float(input("Entre com a segunda nota bimestral: "))
c = float(input("Entre com a terceira nota bimestral: "))
d = float(input("Entre com a quarta nota bimestral: "))

media = (a+b+c+d) / 4

print(f"A média obtida nos bimestres é {media}: ")

Entre com a primeira nota bimestral: 10
Entre com a segunda nota bimestral: 8
Entre com a terceira nota bimestral: 8.5
Entre com a quarta nota bimestral: 6
A média obtida nos bimestres é 8.125:

Crie um algoritmo em Python que peça o raio de um círculo, calcule e mostre sua área.

In [7]:
# A área de um círculo é pi vezes o raio elevado ao quadrado (A = π r²)

import math

pi = math.pi
raio = float(input("Entre com o valor do raio do círculo para cálculo da área: "))

area = pi * (raio**2)

print(f"O valor da área é: {area}")

Entre com o valor do raio do círculo para cálculo da área: 2
O valor da área é: 12.566370614359172

Crie um algoritmo em Python que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.

In [8]:
a = float(input("Entre com o valor do lado do quadrado: "))
area = a * a
dobro = area * 2
print(f"A área do quadrado calculada é: {area}")
print(f"O dobro da área é: {dobro}")

Entre com o valor do lado do quadrado: 4
A área do quadrado calculada é: 16.0
O dobro da área é: 32.0

Crie um algoritmo em Python que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [10]:
valor_hora = float(input("Entre com o valor que você ganha por hora: "))
horas_mes = float(input("Entre com as horas trabalhadas no mês: "))

salario = valor_hora * horas_mes

print(f"O valor do salário é: {salario}")

Entre com o valor que você ganha por hora: 30
Entre com as horas trabalhadas no mês: 200
O valor do salário é: 6000.0

Crie um algoritmo em Python que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus Celsius.
C = (5 * (F-32) / 9).

In [15]:
#(32 °F − 32) × 5/9 = 0 °C

faren = float(input("Entre com a temperatura em Farenheit: "))
celsius = ((faren - 32) *  5 / 9)

print(f"{faren} em Farenheit corresponde a {round(celsius,2)} Celsius.")

Entre com a temperatura em Farenheit: 32
32.0 em Farenheit corresponde a 0.0 Celsius.

Crie um algoritmo em Python que peça a temperatura em graus Celsius, transforme e mostre em graus Farenheit.

In [16]:
# (0 °C × 9/5) + 32 = 32 °F


celsius = float(input("Entre com a temperatura em Celsius: "))
faren = ((celsius * 9/5) + 32)

print(f"{celsius} em Farenheit corresponde a {round(faren,2)} Celsius.")

Entre com a temperatura em Celsius: 0
0.0 em Farenheit corresponde a 32.0 Celsius.

Crie um algoritmo em Python que peça 2 números inteiros e um número real. Calcule e mostre:
* a soma do dobro do primeiro com metade do segundo .
* a soma do triplo do primeiro com o terceiro.
* o terceiro elevado ao cubo.

In [18]:
a = int(input("Entre com o primeiro número inteiro: "))
b = int(input("Entre com o segundo número inteiro: "))
c = float(input("Entre com o primeiro número real: "))

val1 = (a * 2) + (b / 2)
val2 = (a * 3) + c
val3 = c**3

print(f"A soma do dobro do primeiro com metade do segundo é: {val1}")
print(f"A soma do triplo do primeiro com o terceiro é: {val2}")
print(f"O terceiro elevado ao cubo é: {val3}")

Entre com o primeiro número inteiro: 2
Entre com o segundo número inteiro: 4
Entre com o primeiro número real: 2.5
A soma do dobro do primeiro com metade do segundo é: 6.0
A soma do triplo do primeiro com o terceiro é: 8.5
O terceiro elevado ao cubo é: 15.625